<!DOCTYPE html>
<html ng-app="kalender">
  <head>
    <title></title>

    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="components/pure/base-min.css" />

    <link rel="stylesheet" href="components/pure/base-min.css" />
    <link rel="stylesheet" href="components/pure/grids-min.css" />
    <link rel="stylesheet" href="components/pure/grids-responsive-min.css" />

    <link rel="stylesheet" href="styles/style.css" />

    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="components/angular/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>


  </head>
  <body>

    <template>
      While it makes sense that a patient would not
      sign up on their own, perhaps I should not tie
      the creation of both family member and patient
      creation together in a single POST.
        - Need to flesh this out further, even for
        this first iteration. This is next.
        - After that UX is sorted, try to clean
        up all the methods. See below.

      The sign up process is currently messy. I do
      not like that a helper file must handle the
      dual creation.  Also there is no error handling
      for if a user patient is created but the
      patient patient fails.  I think I can achieve
      this through Transactions.

      I want the dual creation to occur from the model,
      if at all possible.
        - Need to test out the one_to_one methods.

      Then I need to unit test. So badly.

    </template>


    <main ui-view></main>

  </body>
</html>
