<h2>Sign Up</h2>
<form name="PatientSignUpForm" novalidate>
  <legend>New Patient</legend>
  <input type="text" ng-model="newPatientCtrl.patientFirstName" placeholder="First Name" required />
  <input type="text" ng-model="newPatientCtrl.patientLastName" placeholder="Last Name" required />
  <input type="text" ng-model="newPatientCtrl.patientEmail" placeholder="Email" required/>
  <input type="password" ng-model="newPatientCtrl.patientPassword" placeholder="Password" required />
  <input type="password" ng-model="newPatientCtrl.patientPasswordConfirmation" placeholder="Confirm Password" required />
</form>
{{PatientSignUpForm.$valid}}

<br />
<form name="FamilySignUpForm" ng-submit="PatientSignUpForm.$valid && FamilySignUpForm.$valid && newPatientCtrl.signUp()" novalidate>
  <legend>Family Member</legend>
  <input type="text" ng-model="newPatientCtrl.familyFirstName" placeholder="First Name" required />
  <input type="text" ng-model="newPatientCtrl.familyLastName" placeholder="Last Name" required />
  <input type="text" ng-model="newPatientCtrl.familyEmail" placeholder="Email" required />
  <input type="password" ng-model="newPatientCtrl.familyPassword" placeholder="Password" required />
  <input type="password" ng-model="newPatientCtrl.familyPasswordConfirmation" placeholder="Confirm Password" required />
  <input type="submit" value="Sign Up" />
</form>
{{FamilySignUpForm.$valid}}
